body {
    background-color: aqua;
    margin: 0;
}

h1 {
    text-align: center;
}

header {
    background-color: #1c1c1c;
    height: 5rem;
    text-align: center;
}

header > button {
    margin: 1rem 5rem;
    padding: 1rem;
    border-radius: 3rem;
    border: transparent;
    font-weight: bold;
    background-color: black;
    color: #fff;
}

header > button:hover {
    scale: 1.1;
    cursor: pointer;
}

section#infos {
    background-color: #b4b4b4;
    height: 6rem;
    text-align: center;
}

section#infos > ul {
    margin: 0;
}

section#infos > ul > li {
    display: inline-block;
    margin: 1.5rem 1rem;
}

section#infos > ul > li > input {
    border-radius: 1rem;
    height: 2rem;
    text-align: center;
    margin-left: 1rem;
}

section#infos > ul > li > #scale {
    background-color: #000;
    color: #fff;
    padding: .8rem;
    border-radius: 5rem;
    border: transparent;
}

section#infos > ul > li > #scale:hover {
    scale: 1.1;
    cursor: pointer;
}

section#team {
    background-color: aqua;
    height: 40rem;
    padding-top: 1rem;
}

section#team > h2 {
    text-align: center;
    font-size: 2rem;
}

section#team > .card {
    border: 1px solid black;
    width: 8rem;
    height: 9rem;
    text-align: center;
    background-color: #fff;
    margin: 0 1rem 1rem 1rem;
    display: inline-block;
}